<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856499881029-8oed6hmbv7lf925vl0gppd3o3up4o7c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856499881029-8oed6hmbv7lf925vl0gppd3o3up4o7c0</string>
	<key>API_KEY</key>
	<string>AIzaSyCrBH6RKDu9-9GeRXHi_pqGf2L-ySrDlwg</string>
	<key>GCM_SENDER_ID</key>
	<string>856499881029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hacathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-7dc04</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-7dc04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856499881029:ios:e6e7f102984f0e7b3dcf2c</string>
</dict>
</plist>